USE [BankSystem]
GO
/****** Object:  ApplicationRole [IDK]    Script Date: 30.06.2026 18:13:23 ******/
/* To avoid disclosure of passwords, the password is generated in script. */
declare @idx as int
declare @placeholderPwd as nvarchar(64)
declare @rnd as float
select @idx = 0
select @placeholderPwd = N''
select @rnd = rand((@@CPU_BUSY % 100) + ((@@IDLE % 100) * 100) + 
       (DATEPART(ss, GETDATE()) * 10000) + ((cast(DATEPART(ms, GETDATE()) as int) % 100) * 1000000))
while @idx < 64
begin
   select @placeholderPwd = @placeholderPwd + char((cast((@rnd * 83) as int) + 43))
   select @idx = @idx + 1
select @rnd = rand()
end
declare @statement nvarchar(4000)
select @statement = N'CREATE APPLICATION ROLE [IDK] WITH DEFAULT_SCHEMA = [dbo], ' + N'PASSWORD = N' + QUOTENAME(@placeholderPwd,'''')
EXEC dbo.sp_executesql @statement
GO
/****** Object:  UserDefinedFunction [dbo].[Ay]    Script Date: 30.06.2026 18:13:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Ay](@Verilmə_tarixi Date, @Bitmə_tarixi Date)
RETURNS INT
AS
BEGIN
DECLARE @Ay INT
SET @Ay = DATEDIFF(MONTH, @Verilmə_tarixi, @Bitmə_tarixi)
Return @Ay
END
GO
/****** Object:  UserDefinedFunction [dbo].[Staj]    Script Date: 30.06.2026 18:13:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Staj](@MusteriId INT)
RETURNS INT
AS
BEGIN
Declare @StajAy INT
SELECT @StajAy = Staj_ay from Müştərilər WHERE Müştəri_id = @MusteriId
Return @StajAy
END
GO
/****** Object:  UserDefinedFunction [dbo].[SumOfSalary]    Script Date: 30.06.2026 18:13:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[SumOfSalary] (@isciMaasi int, @musteriMaasi int)
RETURNS INT
AS
BEGIN
	SET @isciMaasi = 0
	SET @musteriMaasi = 0

	SELECT @isciMaasi = @isciMaasi + SUM(Maaş) FROM Bankİşçiləri
	SELECT @musteriMaasi = @musteriMaasi + SUM(Əməkhaqqı) FROM Müştərilərinİşyeri

	RETURN @isciMaasi + @musteriMaasi
END
GO
/****** Object:  Table [dbo].[Filial]    Script Date: 30.06.2026 18:13:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Filial](
	[Filial_id] [int] IDENTITY(1,1) NOT NULL,
	[Filial] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Filial_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hesabat]    Script Date: 30.06.2026 18:13:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hesabat](
	[Hesabat_id] [int] IDENTITY(1,1) NOT NULL,
	[Müqavilə_id] [int] NOT NULL,
	[ÖdənişTarixi] [date] NOT NULL,
	[AylıqÖdəniş] [decimal](10, 2) NOT NULL,
	[ƏsasBorc] [decimal](10, 2) NOT NULL,
	[FaizBorcu] [decimal](10, 2) NOT NULL,
	[QalıqMiqdar] [decimal](10, 2) NOT NULL,
	[ÖdənişStatusu] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Hesabat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Müqavilə]    Script Date: 30.06.2026 18:13:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Müqavilə](
	[Müqavilə_id] [int] IDENTITY(1,1) NOT NULL,
	[Müştəri_id] [int] NOT NULL,
	[İşçi_id] [int] NOT NULL,
	[Kredit_miqdarı] [int] NOT NULL,
	[Ay] [int] NOT NULL,
	[Faiz] [decimal](10, 1) NOT NULL,
	[Verilmə_tarixi] [date] NOT NULL,
	[Bitmə_tarixi] [date] NOT NULL,
	[KreditNövü_id] [int] NOT NULL,
	[Valyuta_id] [int] NOT NULL,
	[Filial_id] [int] NOT NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Müqavilə_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[UmumiSay]    Script Date: 30.06.2026 18:13:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[UmumiSay] (@filial nvarchar(20))
RETURNS TABLE
AS
RETURN (
    SELECT SUM(DISTINCT Kredit_miqdarı) as 'Ümumi kredit miqdarı', Filial
    FROM Hesabat
    JOIN Müqavilə ON Hesabat.Müqavilə_id = Müqavilə.Müqavilə_id
    JOIN Filial ON Filial.Filial_id = Müqavilə.Filial_id
    WHERE Filial = @filial
    GROUP BY Filial
);
GO
/****** Object:  Table [dbo].[Bankİşçiləri]    Script Date: 30.06.2026 18:13:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bankİşçiləri](
	[İşçi_id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](15) NOT NULL,
	[Soyad] [nvarchar](25) NOT NULL,
	[Təvəllüd] [date] NOT NULL,
	[Fin_kod] [char](7) NOT NULL,
	[İşəQəbulTarixi] [date] NOT NULL,
	[EpoçtÜnvanı] [varchar](150) NOT NULL,
	[Vəzifə_id] [int] NOT NULL,
	[Maaş] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[İşçi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Fin_kod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EpoçtÜnvanı] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BankVəzifələri]    Script Date: 30.06.2026 18:13:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankVəzifələri](
	[Vəzifə_id] [int] IDENTITY(1,1) NOT NULL,
	[Vəzifə] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Vəzifə_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[İşYeri]    Script Date: 30.06.2026 18:13:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[İşYeri](
	[İşYeri_id] [int] IDENTITY(1,1) NOT NULL,
	[İş_Yeri] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[İşYeri_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KreditNövü]    Script Date: 30.06.2026 18:13:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KreditNövü](
	[KreditNövü_id] [int] IDENTITY(1,1) NOT NULL,
	[KreditNövü] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KreditNövü_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Müştərilər]    Script Date: 30.06.2026 18:13:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Müştərilər](
	[Müştəri_id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](20) NOT NULL,
	[Soyad] [nvarchar](25) NOT NULL,
	[Təvəllüd] [date] NOT NULL,
	[Telefon_nömrəsi] [varchar](15) NOT NULL,
	[Yaşayış_ünvanı] [nvarchar](60) NOT NULL,
	[Fin_kod] [char](7) NOT NULL,
	[Gecikmə] [bit] NULL,
	[Hesab_nömrəsi] [char](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Müştəri_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Fin_kod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Müştərilərinİşyeri]    Script Date: 30.06.2026 18:13:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Müştərilərinİşyeri](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Müştəri_id] [int] NOT NULL,
	[İşYeri_id] [int] NOT NULL,
	[Vəzifə_id] [int] NOT NULL,
	[Staj_ay] [int] NOT NULL,
	[Əməkhaqqı] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaksiya]    Script Date: 30.06.2026 18:13:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaksiya](
	[Transaksiya_id] [int] IDENTITY(1,1) NOT NULL,
	[TransaksiyaNövü_id] [int] NOT NULL,
	[Müqavilə_id] [int] NOT NULL,
	[Transaksiya_miqdarı] [decimal](10, 2) NOT NULL,
	[Qalıq_məbləğ] [decimal](10, 2) NOT NULL,
	[ÜmumiÖdənmiş_məbləğ] [decimal](10, 2) NOT NULL,
	[SonTransaksiya_tarixi] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Transaksiya_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransaksiyaNövü]    Script Date: 30.06.2026 18:13:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransaksiyaNövü](
	[Transaksiya_id] [int] IDENTITY(1,1) NOT NULL,
	[Transaksiya] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Transaksiya_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Valyuta]    Script Date: 30.06.2026 18:13:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Valyuta](
	[Valyuta_id] [int] IDENTITY(1,1) NOT NULL,
	[Hərflə] [char](3) NOT NULL,
	[Ad] [nvarchar](20) NOT NULL,
	[Valyuta_kodu] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Valyuta_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vəzifə]    Script Date: 30.06.2026 18:13:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vəzifə](
	[Vəzifə_id] [int] IDENTITY(1,1) NOT NULL,
	[Vəzifə] [nvarchar](35) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Vəzifə_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bankİşçiləri]  WITH CHECK ADD FOREIGN KEY([Vəzifə_id])
REFERENCES [dbo].[BankVəzifələri] ([Vəzifə_id])
GO
ALTER TABLE [dbo].[Hesabat]  WITH CHECK ADD FOREIGN KEY([Müqavilə_id])
REFERENCES [dbo].[Müqavilə] ([Müqavilə_id])
GO
ALTER TABLE [dbo].[Müqavilə]  WITH CHECK ADD FOREIGN KEY([Filial_id])
REFERENCES [dbo].[Filial] ([Filial_id])
GO
ALTER TABLE [dbo].[Müqavilə]  WITH CHECK ADD FOREIGN KEY([İşçi_id])
REFERENCES [dbo].[Bankİşçiləri] ([İşçi_id])
GO
ALTER TABLE [dbo].[Müqavilə]  WITH CHECK ADD FOREIGN KEY([KreditNövü_id])
REFERENCES [dbo].[KreditNövü] ([KreditNövü_id])
GO
ALTER TABLE [dbo].[Müqavilə]  WITH CHECK ADD FOREIGN KEY([Müştəri_id])
REFERENCES [dbo].[Müştərilər] ([Müştəri_id])
GO
ALTER TABLE [dbo].[Müqavilə]  WITH CHECK ADD FOREIGN KEY([Valyuta_id])
REFERENCES [dbo].[Valyuta] ([Valyuta_id])
GO
ALTER TABLE [dbo].[Müştərilərinİşyeri]  WITH NOCHECK ADD FOREIGN KEY([İşYeri_id])
REFERENCES [dbo].[İşYeri] ([İşYeri_id])
GO
ALTER TABLE [dbo].[Müştərilərinİşyeri]  WITH NOCHECK ADD FOREIGN KEY([Müştəri_id])
REFERENCES [dbo].[Müştərilər] ([Müştəri_id])
GO
ALTER TABLE [dbo].[Müştərilərinİşyeri]  WITH NOCHECK ADD FOREIGN KEY([Vəzifə_id])
REFERENCES [dbo].[Vəzifə] ([Vəzifə_id])
GO
ALTER TABLE [dbo].[Transaksiya]  WITH NOCHECK ADD FOREIGN KEY([Müqavilə_id])
REFERENCES [dbo].[Müqavilə] ([Müqavilə_id])
GO
ALTER TABLE [dbo].[Transaksiya]  WITH NOCHECK ADD FOREIGN KEY([TransaksiyaNövü_id])
REFERENCES [dbo].[TransaksiyaNövü] ([Transaksiya_id])
GO
ALTER TABLE [dbo].[Müqavilə]  WITH NOCHECK ADD  CONSTRAINT [CK__Müqavilə__71D1E811] CHECK  (([KreditNövü_id]=(1) AND [Kredit_miqdarı]<=(30000) AND ([Faiz]>=(10.9) AND [Faiz]<=(30)) AND [dbo].[Staj]([Müqavilə].[Müştəri_id])>=(3) OR [KreditNövü_id]=(2) AND ([Kredit_miqdarı]>=(1000) AND [Kredit_miqdarı]<=(100000)) AND ([Faiz]>=(16) AND [Faiz]<=(30)) OR [KreditNövü_id]=(3) AND [Kredit_miqdarı]<=(5000) AND ([Faiz]>=(10.9) AND [Faiz]<=(30)) OR [KreditNövü_id]=(4) AND ([Kredit_miqdarı]>=(5000) AND [Kredit_miqdarı]<=(100000)) AND ([Faiz]>=(9) AND [Faiz]<=(30)) OR [KreditNövü_id]=(5) AND ([Kredit_miqdarı]>=(15000) AND [Kredit_miqdarı]<=(100000)) AND ([Faiz]>=(15) AND [Faiz]<=(30)) AND [dbo].[Staj]([Müqavilə].[Müştəri_id])>=(3)))
GO
ALTER TABLE [dbo].[Müqavilə] NOCHECK CONSTRAINT [CK__Müqavilə__71D1E811]
GO
ALTER TABLE [dbo].[Müştərilər]  WITH NOCHECK ADD CHECK  ((len([Fin_kod])=(7)))
GO
ALTER TABLE [dbo].[Müştərilər]  WITH NOCHECK ADD CHECK  ((len([Hesab_nömrəsi])=(20)))
GO
/****** Object:  StoredProcedure [dbo].[Exist]    Script Date: 30.06.2026 18:13:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[Exist] @kreditmiqdar INT
AS
BEGIN
	IF EXISTS((SELECT Kredit_miqdarı FROM Müqavilə where Kredit_miqdarı >=7500))
		BEGIN
			print('It does exist and there are more than '+cast(@kreditmiqdar as nvarchar(10))+' credits')
		END
	ELSE
		BEGIN
			print('It does not exist and there are 0 result')
		END

END
GO
/****** Object:  StoredProcedure [dbo].[SelectByID]    Script Date: 30.06.2026 18:13:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SelectByID] @id INT
AS
BEGIN
	
	SELECT Kredit_miqdarı from Müqavilə WHERE Müştəri_id = @id

END
GO
